<div class="row">

  <div class="col-md-3">

    <%= image_tag avatar_url(@user), class: "avatar-full" %>

    <% if current_user != @user %>

    <div class="row-space-2">

      <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>

    </div>

    <% end %>

    <div class="panel panel-default">

      <div class="panel-heading">Vérification</div>

      <div class="panel-body">

        Email:
        <%= @user.email %><br>

        Tél:
        <%= @user.phone_number %>

      </div>

    </div>

  </div>

  <div class="col-md-9">

    <h2><%= @user.fullname %></h2>

    <div class="description row-space-3">

      <%= @user.description %>

    </div>

    <h4>Annonces (<%= @rooms.length %>)</h4><br>
    <div class="row">
      <div id="container_annonces">
        <% @rooms.each do |room| %>
          <div class="col-md-4">
            <div class="panel panel-default" id="resultat_annonces">
              <%= link_to room_path(room) do %>
              <div class="panel-heading preview" id="image_annonces">
                <%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0%>
              </div>
            <% end %>
            <div class="panel-body text-center" id="tire_annonces">
              <%= link_to room.listing_name, room_path(room) %>
            </div>
          </div><br><br><br>
        </div>
      <% end %>
    </div>

  </div>

</div>
