<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Mes annonces", rooms_annonces_path, class:"sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Mes favoris", your_trips_path, class:"sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mes favoris</div>
      <div id="container_annonces">

        <% @trips.order("id DESC").each do |trip| %>
          <div class="col-md-4">
            <br>
            <div class="panel panel-default" id="resultat_annonces">
              <%= link_to room_path(trip.room) do %>
              <div class="panel-heading preview" id="image_annonces">
                <%= image_tag trip.room.photos[0].image.url(:thumb) if trip.room.photos.length > 0 %>
              </div>
            <% end %>
            <div class="panel-body text-center" id="tire_annonces">
              <%= link_to trip.room.listing_name, room_path(trip.room) %>
            </div>
          </div><br><br>
        </div>
      <% end %>
    </div>

  </div>
</div>
</div>
