<div class="col-md-offset-2 col-md-8 col-md-offset-2">
  <div class="panel panel-default ">
    <div class="panel-heading  text-center ">
      <h2 id="inscription">Connexion</h2>
      <br>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-md-offset-2 text-center">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Adresse e-mail" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Mot de passe" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                Se souvenir de moi
              </div>
            <% end -%>
            <div class="actions col-md-7 ">
              <br>
              <%= f.submit "Connexion", class: "btn btn-primary" %>
            </div>
          <% end %>
          <div class="col-md-5">
            <br>
            <%= link_to "Pas de compte ? Inscrivez-vous", new_user_registration_path , style:"font-size:13px", style:"color:#999999"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
