<nav class="navbar navbar-default navbar-static-top">
  <div class="container" style="padding:5px 0px 5px 0px">
      <a class="navbar-brand  pull-left"><%=link_to(image_tag("logokedgeimmonav.png"),root_path)%></a>
      <ul class="nav navbar-nav pull-right" style="margin-top:20px"><li><%= link_to new_room_path do %><i class="fa fa-home fa-lg" style="margin-right:8px"></i>Propose un logement<% end %></li><% if (!user_signed_in?) %><li><%= link_to 'Inscription', new_user_registration_path %></li><li><%= link_to 'Connexion', new_user_session_path %></li>
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="identifiant">
            <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>
            <%= current_user.fullname %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Mes annonces", rooms_annonces_path %></li>
            <li><%= link_to "Mes favoris", your_trips_path %></li>
            <li>
              <% if @message.nil?%>
                <%= link_to "Messages", conversations_path %>
              <% else %>
                <%= link_to "Messages","#" %>
              <%end%>
            </li>
            <li><%= link_to 'Modifier le profil', edit_user_registration_path %></li>
            <li><%= link_to 'Déconnexion', destroy_user_session_path,method: :delete %></li>
          </ul>
        </li>
      <% end %>
    </ul>

  <!--/.nav-collapse -->
</div>
</nav>
